<div  class="container">
  <mat-toolbar>
    Chameleon Div
  </mat-toolbar><br>
  <div [appChangecolor]="color" class="changable" >
    <p >This is my Chameleon box</p>
  </div><hr>

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1" (click)="color='green'">green</mat-radio-button>
    <mat-radio-button value="2" (click)="color='yellow'">yellow</mat-radio-button>
    <mat-radio-button value="3"(click)="color='red'" >red</mat-radio-button>
  </mat-radio-group>
</div>
